*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
.container{
   
    border: 1px solid black;
    margin: 3px auto;
    height: 325px;
    width: 425px;
}
   
   .mainbar{
width: 424px;
height: 45px;
background-color: brown;
border: 2px;
position: relative;

}
.mb1{
    height: 28px;
    width: 39px;
    border-radius: 2px;
    background-color: antiquewhite;
    position: absolute;
    top: 9px;
left: 238px;
   
   }
.mb2{
    height: 28px;
    width: 39px;
    border-radius: 2px;
    background-color: antiquewhite;
    position: absolute;
    top: 9px;
left: 286px;
   
   }

   .mb3{
    height: 28px;
    width: 39px;
    border-radius: 2px;
    background-color: antiquewhite;
    position: absolute;
    top: 9px;
left: 333px;
   
   }
.mb4{
    height: 28px;
    width: 39px;
    border-radius: 2px;
    background-color: antiquewhite;
    position: absolute;
    top: 9px;
left: 381px;
   
   }

   .navbar{
    width: 424px;
    height: 22px;
    background-color: gray;
    border: 2px;
    position: absolute;
}
.navbar1{
    width: 212px;
    height: 22px;
    background-color: mediumseagreen;
    border: 2px;
    position: absolute;
    left: 212px;


z-index: 2;
}
.navbar2{
    width: 100px;
    height: 12px;
    background-color: hotpink;
    border: 2px;
    position: absolute;
    margin: 2px auto;
      z-index: 3;
      left: 316px;
      top: 2px;
}
.skinbox{

    
   top: 67px;
   left: 32px;
        background-color: bisque;
        margin: 3px auto;
        height: 171px;
        width: 423px;
    
}
.blackbox{
    
    top: 31px;
    left: -1px;
         background-color:black;
         margin: 3px auto;
         height: 127px;
         width: 381px;
         position: relative;
         border-radius: 3px;


}
.bluebar{
    top: 97px;
    left: 0px;
         background-color:blue;
         margin: 3px auto;
         height: 28px;
         width: 381px;
         
         position:absolute;
          border-radius: 3px;

}

.yellowbar1{

    top: 69px;
    left: 13px;
         background-color: yellow;
         margin: 3px auto;
         height: 23px;
         width: 62px;
         
         position:absolute;
          border-radius: 3px;
}
.yellowbar2{
    top: 69px;
    left: 81px;
         background-color: yellow;
         margin: 3px auto;
         height: 23px;
         width: 62px;
         
         position:absolute;
          border-radius: 3px;
    
}
.wb1{
    top: 4px;
    left: 276px;
         background-color:white;
         margin: 3px auto;
         height: 98px;
         width: 87px;
        border-radius: 4px;
         border: 3px black;
          position: absolute;
          

}
.wb2
{

    top: 21px;
    left: 251px;
         background-color:white;
         margin: 3px auto;
         height: 98px;
         width: 87px;
        border-radius: 4px;
         border: 3px black;
         
          position: absolute;
         
  
}


.pinkbox
{
    top: 40px;
    left: -106px;
         background-color: pink;
         margin: 3px auto;
         height: 105px;
         width: 212px;
         position: relative;
         border: 2px black;

}
.pink1{

    top: 63px;
    left: 4px;
         background-color: rgb(83, 218, 241);
         margin: 3px auto;
         height: 37px;
         width: 200px;
         position: absolute;
         border: 2px black;
         border-radius: 3px;




}
 .lastbox{

    top: 3px;
    left: 106px;
         background-color: rgb(0, 238, 255);
         margin: 3px auto;
         height: 92px;
         width: 192px;
         position: relative;
         border: 2px black;
          border-radius: 2px;

 }


.navbarlast{
    width: 193px;
    height: 22px;
    background-color: grey;
    border: 2px;
    position: absolute;
    left: -1px;
    z-index: 2;
border-radius: 2px;
border: 3px black;


}

.greybar{
    
       background-color: gray;
        border: 1px solid black;
        margin: 3px auto;
        height: 122px;
        width: 425px;
    




}






